/**/
._logo{
    background-image: url(../img/logo/plan4us.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/**/
._back-bloque3 {color: #fff;background-color: #E01559;border-color: #E01559;}
._back-bloque2 {color: #fff;background-color: #005D98;border-color: #005D98;}
._back-bloque1 {color: #fff;background-color: #1F9D8F;border-color: #1F9D8F;}
/**/